.gif-div{
    
    margin: 20px;
    float: left;
}
.jumbotron{
    background-color: #50BFB8;
}
body{
    background-image: url(../images/animal-pattern2.jpg);
}
#gifDiv{
    visibility: hidden;
    background-color: white;
    border-radius: 5px;
}
.container{
    margin-bottom: 5%;
}
.btn{
    background-color: #0A5282;
    border-color: #0A5282;
}
.close{
    visibility: hidden;
    position: relative;
    left: 20px;
    top: -20px;
}
.btn:hover .close{
    visibility: visible;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
}
